* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    /* color variables */
    --bg-color: #000;
    --bg-task-color: #2a2a2a;
    --bg-button-color: #1a1a1a;
    --bg-delete-color: #ff4a4a;

    --primary-text-color: #f4f4f4f4;

    /* padding variables */
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 20px;
    --padding-xxl: 30px;

    /* border-radius variables */
    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 30px;
}


html,
body {
    height: 100%;
    width: 100%;
}

body {
    color: var(--primary-text-color);
    background-color: var(--bg-color);
}

nav {
    padding: var(--nav-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    border: none;
    outline: none;
    background-color: var(--bg-button-color);
    color: var(--primary-text-color);
    padding: var(--padding-m) var(--padding-l);
    cursor: pointer;
    border-radius: var(--border-radius-m);
}

main {
    height: 100%;

    display: flex;
    flex-direction: column;
}

section {
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: var(--padding-xxl);
}

section .task-column {
    background-color: var(--bg-button-color);
    flex-grow: 1;
    padding: var(--padding-m) var(--border-radius-xl);

    display: flex;
    flex-direction: column;
    gap: var(--padding-m);

    border-radius: var(--border-radius-m);
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

section .task-column.hover-over{
    border: 2px dashed var(--primary-text-color);
    scale: 1.05;
}

section .task-column .heading{
    /* background-color: rgba(127, 255, 212, 0.518); */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .task-column .task{
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    cursor: grab;

    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
}

section .task-column button{
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-end;
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--border-radius-s);
    background-color: var(--bg-delete-color);
    color: var(--primary-text-color);
}